<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Day</th>
				<th>Open</th>
				<th>Close</th>
			</tr>
		</thead>

		<tbody>
				<tr>
					<td>Sunday</td>
					<td><%= @vendor.sun_open %></td>
					<td><%= @vendor.sun_close %></td>
				</tr>
				<tr>
					<td>Monday</td>
					<td><%= @vendor.mon_open %></td>
					<td><%= @vendor.mon_close %></td>
				</tr>
				<tr>
					<td>Tuesday</td>
					<td><%= @vendor.tues_open %></td>
					<td><%= @vendor.tues_close %></td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td><%= @vendor.weds_open %></td>
					<td><%= @vendor.weds_close %></td>
				</tr>
				<tr>
					<td>Thursday</td>
					<td><%= @vendor.thurs_open %></td>
					<td><%= @vendor.thurs_close %></td>
				</tr>
				<tr>
					<td>Friday</td>
					<td><%= @vendor.fri_open %></td>
					<td><%= @vendor.fri_close %></td>
				</tr>
				<tr>
					<td>Saturday</td>
					<td><%= @vendor.sat_open %></td>
					<td><%= @vendor.sat_close %></td>
				</tr>
		</tbody>
	</table>
