<% provide(:title, "Edit vendor") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <%= form_for(@vendor, :html => { multipart: true }) do |f| %>
      <%= render 'messages/vendor_error_messages' %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :company %>
      <%= f.text_field :company, class: 'form-control' %>

      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>

      <%= f.label :phone_number %>
      <%= f.text_field :phone, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control' %>

      <%= f.label :menu_1 %>
      <%= f.file_field :menu1, class: 'form-control' %>

      <%= f.label :menu_2 %>
      <%= f.file_field :menu2, class: 'form-control' %>

      <table class="table">
        <thead>
          <tr>
            <th>Day</th>
            <th>Opening Time</th>
            <th>Closing Time</th>
            <th>Frequent locations</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td>Sunday</td>
            <td>
              <%= f.select :sun_open, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:sun_open]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.select :sun_close, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:sun_close]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.text_field :sun_loc, class: 'form-control' %>
            </td>
            
          </tr>
          <tr>
            <td>Monday</td>
            <td>
              <%= f.select :mon_open, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:mon_open]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.select :mon_close, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:mon_close]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.text_field :mon_loc, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              <%= f.select :tues_open, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:tues_open]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.select :tues_close, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:tues_close]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.text_field :tues_loc, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>
              <%= f.select :weds_open, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:weds_open]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.select :weds_close, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:weds_close]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.text_field :weds_loc, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>
              <%= f.select :thurs_open, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:thurs_open]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.select :thurs_close, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:thurs_close]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.text_field :thurs_loc, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>
              <%= f.select :fri_open, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:fri_open]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.select :fri_close, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:fri_close]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.text_field :fri_loc, class: 'form-control' %>
            </td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>
              <%= f.select :sat_open, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:sat_open]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.select :sat_close, 
                  options_for_select([['T.B.D.', 'T.B.D.'], ['12 A.M.','12 A.M.'],['1 A.M.','1 A.M.'],['2 A.M.','2 A.M.'], ['3 A.M.', '3 A.M.'], ['4 A.M.', '4 A.M.'], ['5 A.M.', '5 A.M.'], ['6 A.M.', '6 A.M.'], ['7 A.M.', '7 A.M.'], ['8 A.M.', '8 A.M.'], ['9 A.M.', '9 A.M.'], ['10 A.M.', '10 A.M.'], ['11 A.M.', '11 A.M.'], ['12 P.M.', '12 P.M.'], ['1 P.M.', '1 P.M.'], ['2 P.M.', '2 P.M.'], ['3 P.M.', '3 P.M.'], ['4 P.M.', '4 P.M.'], ['5 P.M.', '5 P.M.'], ['6 P.M.', '6 P.M.'], ['7 P.M.', '7 P.M.'], ['8 P.M.', '8 P.M.'], ['9 P.M.', '9 P.M.'], ['10 P.M.', '10 P.M.'], ['11 P.M.', '11 P.M.']], params[:sat_close]), 
                  {:include_blank => true}, { :class => 'form-control' } %>
            </td>
            <td>
              <%= f.text_field :sat_loc, class: 'form-control' %>
            </td>
          </tr>
        </tbody>
      </table>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    
  </div>
</div>