<%= form_for @vendor, html: { class: 'form-vertical'} do |f| %>
	<% if @vendor.errors.any? %>
		<% @vendor.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	<% end %>
	<div class="control-group">
		<%= f.label "Distance", class: 'control-label' %>
		<div class="controls">
			<%= f.select(:distance_type, options_for_select([['1', '1'], ['3', '3'], ['5', '5'], ['10', '10']]), { include_blank: true}) %>
		</div>
	</div>
		<div class="control-group">
			<div class="controls">
				<%= f.submit 'Search', class: 'btn btn-default' %>
			</div>
		</div>
<% end %>

